@font-face {
  font-family: "harryp";
  src: url(../assets/HARRYP.TTF);
}

#wizard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/hogwarts.jpg);
  background-size: cover;
  height: 100vh;

  h1 {
    font-family: harryp;
    color: gold;
    font-size: 50px;
  }

  .wizard-form {
    width: 70%;
    padding: 15px;
    background-color: #88390bd6;
    border: 15px groove gold;
    color: white;

    &__input-group {
      margin-bottom: 10px;

      select {
        padding: 5px;
        border-radius: 5px;
      }
    }

    &__input-field {
      padding: 5px;
      border: nones;
      border-radius: 5px;
    }

    &__button {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border: 8px groove gold;
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        img {
          transform: scale(1.2);

        }
      }

      img {
        height: 90px;
        transition: .5s;
      }
    }
  }
}